.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  background: var(--color-night);
  color: white;
  padding: 2rem;
}

.name {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  opacity: 0.3;
}

.timeContainer {
  display: flex;
  align-items: baseline;
}

.time {
  font-size: 12rem;
  font-weight: 200;
}

.meridiem {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.date {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.night {
  background: var(--color-night);
}

.evening {
  background: var(--color-evening);
}

.day {
  background: var(--color-day);
  color: var(--color-night);
}

@media only screen and (min-width: 1200px) {
  .time {
    font-size: 12vw;
  } 
}